#navigator-throbber {
  list-style-image: url("chrome://global/skin/subskin/throbber32.png") !important;
}
#navigator-throbber[busy="true"] {
  list-style-image: url("chrome://global/skin/subskin/throbber-anim.gif") !important;
}

toolbar[iconsize="small"] #navigator-throbber,
toolbar[mode="text"] #navigator-throbber {
  list-style-image: url("chrome://global/skin/subskin/throbber16.png") !important;
}
toolbar[iconsize="small"] #navigator-throbber[busy="true"],
toolbar[mode="text"] #navigator-throbber[busy="true"] {
  list-style-image: url("chrome://global/skin/subskin/throbber16-anim.gif") !important;
}