#extensionManager {
  background-color: ThreeDFace;
}

#extensionsView {
  background-image: url("chrome://mozapps/skin/extensions/viewWatermark.png");
}

/* Extension Manager Command Bar */
#commandBar {
  padding: 0px 10px 5px 10px;
}

#uninstallButton {
  margin: 0px;
  -moz-user-focus: ignore;
}

#updateButton {
  margin: 0px;
  -moz-user-focus: ignore;
}


#uninstallButton[disabled="true"] {
}

#commandBarSeparator {
  margin-left: 5px;
}

/* Extension Buttons (Iconic buttons in each extension item) */
.extension-button {
  width: 10px;
  height: 10px;
  margin: 1px;
}

.extension-button[anonid="options-button"] {
  background-color: Blue;
}

.extension-button[anonid="about-button"] {
  background-color: Red;
}

.extension-button[anonid="homepage-button"] {
  background-color: Green;
}

/* Extension List Items */
extension[selected="true"] {
  border: 1px #261933 solid;
  background: #e5dfeb;
}

extension {
  padding: 13px 10px 13px 13px;
  min-height: 25px;
  border-bottom: 1px dotted #C0C0C0;
  background-image: url("chrome://mozapps/skin/shared/itemFader.png");
}

extension[disabled="true"] {
  color: GrayText;
  background-image: none;
}

extension[disabled="true"][selected="true"] {
  background-image: url("chrome://mozapps/skin/shared/itemSelected.png");
}

extension[disabled="true"] .extension-icon {
  opacity: 0.3;
}

.extension-item-name {
  font-weight: bold;
}

.extension-icon {
  margin-right: 10px; 
}

